.container #oymuhurtikla:checked + div {
    opacity: 1;
    visibility: visible;
    width: 55px;
    height: 55px;
    transition: 0.15s !important;
}

.container #oymuhurtikla:checked ~ .tesekkurederiz {
    opacity: 0;

}


